<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
    ============================================= -->
    <link rel="shortcut icon" href="/static/frontend/css/images/favicon.png" type="image/png">

	<link href="http://fonts.googleapis.com/css?family=Mukta+Vaani:300,400,500,600,700|Open+Sans:300,400,600,700,800,900" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/static/frontend/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/static/frontend/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/static/frontend/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="/static/frontend/css/swiper.css" type="text/css" />

    <!-- Bootstrap Select CSS -->
    <link rel="stylesheet" href="/static/frontend/css/components/bs-select.css" type="text/css" />

    <!-- car Specific Stylesheet -->
    <link rel="stylesheet" href="/static/frontend/css/demo/car.css" type="text/css" />
    <link rel="stylesheet" href="/static/frontend/css/custom.css" type="text/css" />
    <link rel="stylesheet" href="/static/frontend/css/demo/car-icons/style.css" type="text/css" />
    <!-- / -->

    <link rel="stylesheet" href="/static/frontend/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="/static/frontend/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="/static/frontend/css/magnific-popup.css" type="text/css" />

    <link rel="stylesheet" href="/static/frontend/css/demo/fonts.css" type="text/css" />

    <link rel="stylesheet" href="/static/frontend/css/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/static/frontend/css/colors.css" type="text/css" />

    <!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/revslider-css/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/revslider-css/layers.css">
    <link rel="stylesheet" type="text/css" href="/static/frontend/css/revslider-css/navigation.css">

    <!-- Document Title
    ============================================= -->
    <title>Prestige Auto </title>

    <style>
        /* Revolution Slider */
        .ares .tp-tab { border: 1px solid #eee; }
        .ares .tp-tab-content { margin-top: -4px; }
        .ares .tp-tab-content { padding: 15px 15px 15px 110px; }
        .ares .tp-tab-image { width: 80px;height: 80px; }

    </style>

</head>

<body class="stretched side-push-panel" data-loader-html="<div><img src='/static/frontend/images/demo/page-loader.gif' alt='Loader'></div>">

    <!-- Side Panel Overlay -->
    <div class="body-overlay"></div>

    <!-- Side Panel -->
    <div id="side-panel">

        <div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="icon-line-cross"></i></a></div>

        <div class="side-panel-wrap">

            <div class="widget clearfix">

                <a href="{% url 'mainpage' %}"><img class="lazy" src="/static/frontend/images/demo/logo@2x.svg" alt="Canvas Logo" height="50"></a>

                <p>We value your time and want your process to be as efficient as possible. Contact us and we will help you to rent a car!</p>

                <div class="widget quick-contact-widget form-widget noborder notoppadding clearfix">

                    <h4>Quick Contact</h4>
                    <div class="form-result"></div>
                    <form id="quick-contact-form" name="quick-contact-form" action="include/form.php" method="post" class="quick-contact-form nobottommargin">
                        <div class="form-process"></div>
                        <input type="text" class="required sm-form-control input-block-level" id="quick-contact-form-name" name="quick-contact-form-name" value="" placeholder="Full Name" />
                        <input type="text" class="required sm-form-control email input-block-level" id="quick-contact-form-email" name="quick-contact-form-email" value="" placeholder="Email Address" />
                        <textarea class="required sm-form-control input-block-level short-textarea" id="quick-contact-form-message" name="quick-contact-form-message" rows="4" cols="30" placeholder="Message"></textarea>
                        <input type="text" class="hidden" id="quick-contact-form-botcheck" name="quick-contact-form-botcheck" value="" />
                        <input type="hidden" name="prefix" value="quick-contact-form-">
                        <button type="submit" id="quick-contact-form-submit" name="quick-contact-form-submit" class="button button-small button-3d nomargin" value="submit">Get a quote</button>
                    </form>

                </div>


            </div>

        </div>

    </div>

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Header
        ============================================= -->
        <header id="header" class="static-sticky full-header clearfix">

            <div id="header-wrap">

                <div class="container-fluid clearfix">

                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <!-- Logo
                        ============================================= -->
                    <div id="logo">
                        <a href="{% url 'mainpage' %}" class="standard-logo cars-logo"><img class="lazy" data-src="/static/frontend/images/demo/logo.svg" alt="Canvas Logo"></a>
                        <a href="{% url 'mainpage' %}" class="retina-logo cars-logo"><img class="lazy" data-src="/static/frontend/images/demo/logo@2x.svg" alt="Canvas Logo"></a>
                    </div> <!-- #logo end -->

                    <!-- Phone in header
                        ============================================= -->
                    <div id="logo" class="header-phone">
                      <a href="tel:+13137203339"><i class="icon-phone3"></i>&nbsp +1(313)720-3339</a>
                    </div> <!-- end -->

                    <!-- Primary Navigation
                    ============================================= -->
                    <nav id="primary-menu" class="with-arrows clearfix">
                        <ul>
                            <li class="current">
                                <a  {% if isMainPage %}
                                        href="" data-scrollto="#wrapper"
                                    {% else %}
                                        href="{% url 'mainpage' %}"
                                    {% endif %}
                                >
                                    <div>Home</div>
                                </a>
                            </li>
                            <li>
                                <a
                                    {% if isMainPage %}
                                        href="" data-scrollto="#about-us" data-offset="50"
                                    {% else %}
                                        href="{% url 'mainpage' %}#about-us"
                                    {% endif %}
                                >
                                    <div>About Us</div>
                                </a>
                            </li>
                            <li>
                                <a
                                    {% if isMainPage %}
                                       href="" data-scrollto="#catalog"
                                    {% else %}
                                       href="{% url 'mainpage' %}#catalog"
                                    {% endif %}
                                >
                                    <div>Lease Specials</div>
                                </a>
                            </li>
                            <li><a href="{% url 'credit-app-view' %}"><div>Credit Application</div></a></li>
                            <li><a href="{% url 'faq' %}"><div>FAQ</div></a></li>
                            <li>
                                <a
                                    {% if isMainPage %}
                                        href="" data-scrollto="#contacts"
                                    {% else %}
                                        href="{% url 'mainpage' %}#contacts"
                                    {% endif %}
                                >
                                    <div>Contacts</div>
                                </a>
                            </li>
                        </ul>
                    </nav><!-- #primary-menu end -->
                </div>

            </div>

            <div id="header-trigger"><i class="icon-line-menu"></i><i class="icon-line-cross"></i></div>

        </header><!-- #header end -->



        <!-- Slider
        ============================================= -->
        {% if isMainPage %}
                {% block slider %}
                {% endblock %}
        {% endif %}
        <!-- #Slider End -->


        <!-- Content
        ============================================= -->
        <section id="content" class="clearfix">

            {% block content %}
            {% endblock %}

        </section><!-- #content end -->

        <!-- Footer
        ============================================= -->
        <footer id="footer" class="noborder">

            <div class="container-fluid clearfix">

                <!-- Footer Widgets
                ============================================= -->
                <div class="footer-widgets-wrap clearfix" style="padding: 30px;">

                    <div class="row clearfix">
                        <div class="col-lg-6">

                            <div class="col_one_third">
                                <div class="widget widget_links clearfix">
                                    <h4>Prestige Auto</h4>
                                    <ul>
                                        <li><p>PO Box 1171</p></li>
                                        <li><p>Union Lake MI 48327</p></li>
                                        <li><p>(313)720-3339</p></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col_one_third">
                                <div class="widget widget_links clearfix">
                                    <h4>Business hours</h4>
                                    <ul>
                                        <li><p>Monday - Saturday:<br>10 AM - 7 PM</p></li>
                                        <li><p>Sunday: Closed</p></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col_one_third col_last">
                                <div class="widget widget_links clearfix">
                                    <h4>Join us on social</h4>

                                        <div>

                                            <a href="https://instagram.com/prestigeautoleasingmi" class="social-icon si-light si-instagram">
                                                <i class="icon-instagram"></i>
                                                <i class="icon-instagram"></i>
                                            </a>

                                            <a href="https://facebook.com/newcarleasedeals" class="social-icon si-light si-facebook">
                                                <i class="icon-facebook"></i>
                                                <i class="icon-facebook"></i>
                                            </a>
                                        </div>

{#                                    <p>#}
{#                                        <a href="" class="social-icon si-rounded si-instagram">#}
{#                                            <i class="icon-instagram"></i>#}
{#                                            <i class="icon-instagram"></i>#}
{#                                        </a>#}
{#                                    </p>#}
{#                                    <p>#}
{#                                        <a href="" class="social-icon si-rounded si-facebook">#}
{#                                            <i class="icon-facebook"></i>#}
{#                                            <i class="icon-facebook"></i>#}
{#                                        </a>#}
{#                                    </p>#}

                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6 fright tright col_last">

                            <img class="lazy" data-src="/static/frontend/images/demo/logo-footer.svg" alt="" height="50" style="margin-top: ">
                            <br>
                            <div style="color: #444">
                                <span>2019 &copy; Prestige Auto Leasing. All Rights Reserved.</span><div class="clear"></div>
                                <p style="margin-top: 10px;">Objectively restore standards compliant opportunities whereas one-to-one collaboration and idea-sharing.</p>
                            </div>

                        </div>
                    </div>

                </div><!-- .footer-widgets-wrap end -->

            </div>

        </footer><!-- #footer end -->

    </div><!-- #wrapper end -->

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- Contact Button
    ============================================= -->
    <div id="contact-me" class="icon-line-mail side-panel-trigger bgcolor"></div>

    <!-- External JavaScripts
    ============================================= -->
    <script src="/static/frontend/js/jquery.js"></script>
    <script src="/static/frontend/js/plugins.js"></script>
    <script type="text/javascript" src="/static/frontend/js/jquery.lazy.min.js"></script>


    <!-- Bootstrap Select Plugin -->
    <script src="/static/frontend/js/components/bs-select.js"></script>


    <!-- Footer Scripts
    ============================================= -->
    <script src="/static/frontend/js/functions.js?v=2"></script>



       <script>

        /* Credit Application Form Test */

        /*jQuery( document ).ready(function() {

            //Set values for inputs

            //Personal Info
            $("#id_first_name").val("Ivan");
            $("#id_mid_name").val("Ivanovich");
            $("#id_last_name").val("Ivanov");

            $("#id_email").val("ivan@gmail.com");
            $("#id_birth_date").val("Feb/21/2012");
            $("#id_social_security").val("34350588");

            $("#id_home_phone").val("89059080808");
            $("#id_mobile_phone").val("89059080808");

            $("#id_address").val("Kirenskogo Street 5 - 30");
            $("#id_city").val("Krasnoyarsk");
            $("#id_state").val("Krasnoyarskiy kray");
            $("#id_zip").val("66007");

            $("#id_other_occ_type").val("Yes");
            $("#id_res_type").val("House");
            $("#id_rent_payment").val("660 USD");

            $("#id_time_at_res").val("2 years");
            $("#id_acc_in_your_name").val("Bike");

            $("#id_driver_lic_number").val("4547689543");
            $("#id_driver_lic_state").val("Michigan");
            $("#id_driver_lic_expdate").val("Mar/21/2013");

            $("#id_empl_name").val("OOO 'Roga & Kopyta' ");
            $("#id_empl_phone").val("89059080808");
            $("#id_empl_address").val("Lenina Street 12");
            $("#id_empl_city").val("Abakan");
            $("#id_empl_state").val("Hakasiya");
            $("#id_empl_zip").val("66047");

            $("#id_empl_occupation").val("Attorney ");
            $("#id_empl_time_on_job").val("20 years");
            $("#id_empl_salary").val("2000 usd");
            $("#id_empl_other_income").val(" 3000 usd ");

            $("#id_vehicle_make").val("Chevrolet ");
            $("#id_vehicle_model").val("Camaro ");
            $("#id_vehicle_year").val("2019 ");

            $("#id_vehicle_mileage").val("5000 miles");
            $("#id_vehicle_salesman_name").val("Brian Singer");





        }); */

        /* End of testing script */

        //Lazy load car images

       	$(function() {
	        $('.lazy').lazy({
	          effect: "fadeIn",
	          effectTime: 2000,
	          threshold: 0
	        });
	    });

		
        //Car Appear In View
        function isScrolledIntoView(elem) {
            var docViewTop = $(window).scrollTop();
            var docViewBottom = docViewTop + $(window).height();

            var elemTop = $(elem).offset().top + 180;
            var elemBottom = elemTop + $(elem).height() - 500;

            return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
        }

        $(window).scroll(function () {
           $('.running-car').each(function () {
                if (isScrolledIntoView(this) === true) {
                    $(this).addClass('in-view');
                } else {
                    $(this).removeClass('in-view');
                }
            });
        });


    </script>

</body>
</html>