{% extends 'base.html' %}
{% load widget_tweaks %}

{% block slider %}

                 <section id="slider" class="slider-element swiper_wrapper full-screen force-full-screen clearfix" data-dots="true" data-loop="true" data-grab="false">

                    <div class="swiper-container swiper-parent">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" style="background-image: url('/static/frontend/images/demo/hero-slider/new_slide1.jpg'); background-size: cover;">
                                <div class="container clearfix">
                                    <div class="slider-caption slider-caption-center slider-caption-bg-light">
                                        <h2 class="font-primary">We have two great locations in Michigan and Florida</h2>
                                        <a
                                            {% if isMainPage %}
                                               href="" data-scrollto="#catalog" data-offset="50"
                                            {% else %}
                                               href="{% url 'mainpage' %}#catalog"
                                            {% endif %}

                                            class="cars-button button button-rounded button-border swiper-button-black nott">View specials</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" style="background-image: url('/static/frontend/images/demo/hero-slider/new_slide2.jpg'); background-size: cover">
                                <div class="container clearfix">
                                    <div class="slider-caption slider-caption-center">
                                        <h2 class="font-primary nott">We will assist you in finding best car deal for you in the most efficient and cost effective manner</h2>
                                        <a
                                            {% if isMainPage %}
                                               href="" data-scrollto="#catalog" data-offset="50"
                                            {% else %}
                                               href="{% url 'mainpage' %}#catalog"
                                            {% endif %}

                                            class="cars-button button button-rounded button-border swiper-button-black nott">View specials</a>                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" style="background-image: url('/static/frontend/images/demo/hero-slider/new_slide3.jpg'); background-size: cover">
                                <div class="container clearfix">
                                    <div class="slider-caption slider-caption-center">
                                        <h2 class="font-primary nott">Three steps to get a deal of a lifetime.<br>1. Browse our lease specials on our front page<br>2. Make decision on vehicle you are interested in<br>3. Call our office to get accurate quote</h2>
                                        <a
                                            {% if isMainPage %}
                                               href="" data-scrollto="#catalog" data-offset="50"
                                            {% else %}
                                               href="{% url 'mainpage' %}#catalog"
                                            {% endif %}

                                            class="cars-button button button-rounded button-border swiper-button-black nott">View specials</a>                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>

                </section>

{% endblock %} {# end of slider #}

{% block content %}

                <div class="section notopmargin clearfix" id="about-us" data-offset= style="padding: 50px 0">
                    <div class="running-car topmargin-sm">
                        <img class="car" src="/static/frontend/images/demo/moving-car/car.jpg" alt="">
                        <img class="wheel" src="/static/frontend/images/demo/moving-car/car-tier.png" alt="">
                    </div>
                    <div class="container clearfix">
                        <div class="row clearfix" style="position: relative;">
                            <div class="col-lg-6 offset-lg-6">
                                <div class="heading-block hlarge">
                                    <h3>About Us</h3>
                                </div>
                                <p>
                                    Our experienced and knowledgeable new car lease consultants are at your service.
                                    Our goal is to make your car purchase or car leasing experience as easy as one, two, three.
                                    We leverage our dealer relationships to find you the best possible deal and we will beat any dealer’s prior obtained quote.
                                    We are committed to providing you hassle free car purchase or new car leasing.
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="container clearfix">
                        <div class="row clearfix" style="position: relative;">
                            <div class="col-lg-6">
                                <p>
                                    You tell us what you want, and we will obtain all the necessary information for you to make an educated decision.
                                We even take it a step further and will deliver your new car to your residence or place of work wherever it is convenient for you. 
                                Our commitment to your satisfaction does not end there, all paperwork will be ready for you to sign without you ever putting a step in a dealership, which on average will save you about 3 hours of waiting at the dealership.
                                </p>
                            </div>
                            <div class="col-lg-6 col_last">

                                <p>We value your time and want your process to be as efficient as possible. Since we work with a vast selection of dealers which offer over 1,200 cars at any given time, the choice is yours.
                                This way you can enjoy your new vehicle stress free knowing that you made an educated decision, at convenient time for you with efficient paperwork process.
                                Now, let us show you how you can have your next car in as quick as one, two, three.
                                </p>
                            </div>
                        </div>
                    </div>
                </div> <!-- Moving car on scroll End -->

    <!-- Car Catalog
    ========================================= -->
                <div class="section nomargin nobg clearfix" id="catalog">
                    <div class="container clearfix">
                        <div class="heading-block center">
                            <div class="before-heading uppercase ls1" style="font-size: 13px; font-style: normal;">Car Catalogue</div>
                            <h3 class="t700">Lease Specials</h3>
                            <p>Vehicle pictures may not represent the actual model and trim sold. For details on options and fees due at signing please call <a href="tel:+13137203339">(313)720-3339</a></p>
                        </div>

                        <!-- Portfolio Filter
                        ============================================= -->
                        <ul class="portfolio-filter style-2 clearfix" data-container="#portfolio">
                            <li><a href="#" data-filter=".cf-deal"><i class="icon-car-money"></i><span>% Deal of the month</span></a></li>
                            <li><a href="#" data-filter=".cf-cuv"><i class="icon-car-cuv"></i><span>SUV</span></a></li>
                            <li><a href="#" data-filter=".cf-sedan"><i class="icon-car-sedan"></i><span>Sedan</span></a></li>
                            <li><a href="#" data-filter=".cf-coupe"><i class="icon-car-supercar"></i><span>Coupe</span></a></li>
                            <li><a href="#" data-filter=".cf-hatchback"><i class="icon-car-hatchback"></i><span>Hatchback</span></a></li>
{#                          <li><a href="#" data-filter=".cf-cabriolet"><i class="icon-car-cabriolet"></i><span>Cabriolet</span></a></li>#}
                            <!-- Show All Button -->
                             <li class="fright activeFilter"><a class="button button-small button-rounded button-reset" href="#" data-filter="*">Show All</a></li>
                        </ul> <!-- #portfolio-filter end -->

                        <div class="clear"></div>

                        <!-- Portfolio Items
                        ============================================= -->
                        <div id="portfolio" class="portfolio portfolio-3 grid-container clearfix" data-layout="fitRows">

                        	{% for car in cars %}
	                            <!-- Car Element -->
	                            <article class="portfolio-item cf-{{ car.body }} {% if car.deal == True %} cf-deal {% endif %} lazy" style="padding-bottom: 40px">
	                                <div class="portfolio-image">
	                                    <a href="{% url 'single-car-view' car.id %}">
                                            <img class="lazy" data-src={{ car.photo.url }}>
	                                        <div class="filter-p-pricing">
	                                        	{% if car.price == 1 %}
		                                            <span class="p-price t700 ls1">
		                                            	Call for details
		                                        	</span>
		                                        {% else %}
		                                        	<span class="p-price t700 ls1">$ 
		                                            	{{ car.price }}
		                                        	</span>	
		                                        {% endif %}
                                                {# <span class="p-price-msrp">Total due : <strong>$ {{ car.msrpValue }}</strong></span>#}
	                                            <span class="p-price-msrp">Total due : <strong>$ 995 </strong></span>
	                                        </div>
	                                    </a>
	                                </div>
	                                <div class="portfolio-desc">
	                                    <h3>
	                                    	<a href="{% url 'single-car-view' car.id %}">
                                                <p class="single-car-title"> {{ car.brand }} {{ car.model }}</p>
	                                    	</a>
	                                	</h3>
                                        <span>If you want to know details on options and fees due at signing please call <a href="tel:+13137203339"></span>
{#	                                    <span>Dramatically synthesize parallel applications vis-a-vis revolutionary e-tailers. Monotonectally incubate cooperative partnerships.</span>#}
	                                </div>
{#	                                <div class="row no-gutters car-p-features font-primary clearfix">#}
{#	                                    <div class="col-lg-4 col-6 nopadding"><i class="icon-car-meter"></i><span> 20000</span></div>#}
{#	                                    <div class="col-lg-4 col-6 nopadding"><i class="icon-car-door"></i><span> 5 Seater</span></div>#}
{#	                                    <div class="col-lg-4 col-6 nopadding"><i class="icon-car-fuel2"></i><span> 20kmpl</span></div>#}
{#	                                    <div class="col-lg-4 col-6 nopadding"><i class="icon-car-signal"></i><span> Automatic</span></div>#}
{#	                                    <div class="col-lg-4 col-6 nopadding"><i class="icon-car-wheel"></i><span> 15 Inch</span></div>#}
{#	                                    <div class="col-lg-4 col-6 nopadding"><i class="icon-car-care"></i><span>{{ car.year }}</span></div>#}
{#	                                </div>#}
	                            </article>
                            {% endfor %}

                        </div>
                    </div>
                </div>



    {% block main_contact_form %}
        <!-- Contacts
        ========================================= -->
                    <div class="section nobg clearfix" id="contacts" style="padding: 100px 0;">
                        <div class="container clearfix">

                            <div class="heading-block center">
                                <div class="before-heading uppercase ls1" style="font-size: 13px; font-style: normal;">How to find us</div>
                                <h3 class="t700">Contacts</h3>
                            </div>

                            <div class="clear"></div>


                            <!-- Contact Form
                            ============================================= -->
                            <div class="col_full">

                                <div class="fancy-title title-dotted-border">
                                    <h3>Get a quote</h3>
                                </div>

                                <div class="form-widget">

                                    <div class="form-result"></div>

                                    <form class="nobottommargin" id="main-contactform" name="main-contactform" method="post">

                                        {% csrf_token %}

                                        {{ contact_form.non_field_errors }}

                                        <div class="form-process"></div>

                                        <div class="col_one_third">
                                            {{ contact_form.name.errors }}
                                            <label for="{{ contact_form.name.id_for_label }}">Name <small>*</small></label>
                                            {% render_field contact_form.name class+="sm-form-control required" %}
                                        </div>

                                        <div class="col_one_third">
                                            {{ contact_form.email.errors }}
                                            <label for="{{ contact_form.email.id_for_label }}">Email <small>*</small></label>
                                            {% render_field contact_form.email class+="sm-form-control required" %}
                                        </div>

                                        <div class="col_one_third col_last">
                                            {{ contact_form.phone.errors }}
                                            <label for="{{ contact_form.phone.id_for_label }}">Phone</label>
                                            {% render_field contact_form.phone class+="sm-form-control" %}
                                        </div>

                                        <div class="clear"></div>

                                        <div class="col_full">
                                            {{ contact_form.subject.errors }}
                                            <label for="{{ contact_form.subject.id_for_label }}">Subject <small>*</small></label>
                                            {% render_field contact_form.subject class+="sm-form-control required" %}
                                        </div>


                                        <div class="clear"></div>

                                        <div class="col_full">
                                            {{ contact_form.message.errors }}
                                            <label for="{{ contact_form.message.id_for_label }}">Message <small>*</small></label>
                                            {% render_field contact_form.message class+="sm-form-control required" %}
                                        </div>

                                        <div class="col_full hidden">
                                            <input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control" />
                                        </div>

                                        <div class="col_full">

{#                                            <script src="https://www.google.com/recaptcha/api.js" async defer></script>#}
{#                                            <div class="g-recaptcha" data-sitekey="6LfijgUTAAAAACPt-XfRbQszAKAJY0yZDjjhMUQT"></div>#}

                                        </div>


                                        <div class="col_full">
                                            <button name="submit" type="submit" id="submit-button" tabindex="5" value="Submit" class="button button-3d nomargin">Send Email</button>
                                        </div>

                                        <input type="hidden" name="prefix" value="template-contactform-">

                                    </form>
                                </div>

                            </div><!-- Contact Form End -->

                            <!-- Google Map
                            ============================================= -->
                            <!--
                            <div class="col_half col_last">

                                <section id="google-map" class="gmap" style="height: 410px; background: #72A9F2 !Important;"></section>

                            </div> -->

                            <div class="clear"></div>


                             <!-- Contact Info
                            ============================================= -->
                            <div class="row clear-bottommargin">

                                <div class="col-lg-4 col-md-6 bottommargin clearfix">
                                    <div class="feature-box fbox-center fbox-bg fbox-plain">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-map-marker2"></i></a>
                                        </div>
                                        <h3>Our Main Office<span class="subtitle">Union Lake, Michigan</span></h3>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 bottommargin clearfix">
                                    <div class="feature-box fbox-center fbox-bg fbox-plain">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-phone3"></i></a>
                                        </div>
                                        <h3>Contact Us By Phone<span class="subtitle">+1(313)720-3339</span></h3>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 bottommargin clearfix">
                                    <div class="feature-box fbox-center fbox-bg fbox-plain">
                                        <div class="fbox-icon">
                                            <a href="https://instagram.com/prestigeautoleasingmi" target="_blank"><i class="icon-instagram2"></i></a>
                                        </div>
                                        <h3>Follow on Instagram<span class="subtitle">Subscribe on our account</span></h3>
                                    </div>
                                </div>

                            </div><!-- Contact Info End -->



                        </div>
                    </div>




    {% endblock %} {# end of contact form block #}

{% endblock %} {# end of content block #}