{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

        <div class="section credit-app nomargin nobg clearfix">
            <div class="container clearfix">

                <div class="heading-block center">
                    <div class="before-heading uppercase ls1" style="font-size: 13px; font-style: normal;">Submit your application form below</div>
                    <h3 class="t700">Credit Application</h3>
                </div>
                <div class="clear"></div>

                {# Credit Application Form #}

                 <div class="form-widget">

                     <div class="form-result"></div>

						<form class="nobottommargin" id="credit-app-form" name="credit-app-form" method="post">

                            {% csrf_token %}
                            {{ creditapp_form.non_field_errors }}

                            <div class="heading-block">
                                <h4 class="t700">Personal</h4>
                            </div>

                            {#Name#}
							<div class="form-row">
								<div class="form-group col-md-5">
                                    {{ creditapp_form.first_name.errors }}
									<label for="{{ creditapp_form.first_name.id_for_label }}">First Name</label>
                                    {% render_field creditapp_form.first_name class+="sm-form-control required" %}
								</div>
								<div class="form-group col-md-2">
                                    {{ creditapp_form.mid_name.errors }}
									<label for="{{ creditapp_form.mid_name.id_for_label }}">Middle Name</label>
                                    {% render_field creditapp_form.mid_name class+="sm-form-control required" %}
								</div>
                                <div class="form-group col-md-5">
					                {{ creditapp_form.last_name.errors }}
									<label for="{{ creditapp_form.last_name.id_for_label }}">Last Name</label>
                                    {% render_field creditapp_form.last_name class+="sm-form-control required" %}
								</div>
							</div>


                            {#Birthday and Social#}
                            <div class="form-row">
                                 <div class="form-group col-md-5">
					                {{ creditapp_form.email.errors }}
									<label for="{{ creditapp_form.email.id_for_label }}">Email</label>
                                    {% render_field creditapp_form.email class+="sm-form-control required" %}
								</div>

                                <div class="form-group col-md-3">
									{{ creditapp_form.birth_date.errors }}
									<label for="{{ creditapp_form.birth_date.id_for_label }}">Birthday Date</label>
                                    {% render_field creditapp_form.birth_date class+="sm-form-control required" %}
								</div>

                                 <div class="form-group col-md-4">
									{{ creditapp_form.social_security.errors }}
									<label for="{{ creditapp_form.social_security.id_for_label }}">Social Security</label>
                                    {% render_field creditapp_form.social_security class+="sm-form-control required" %}
								</div>
                            </div>

                            {#Mobile Phone#}
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{ creditapp_form.home_phone.errors }}
									<label for="{{ creditapp_form.home_phone.id_for_label }}">Home Phone</label>
                                    {% render_field creditapp_form.home_phone class+="sm-form-control required" %}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ creditapp_form.mobile_phone.errors }}
									<label for="{{ creditapp_form.mobile_phone.id_for_label }}">Mobile Phone</label>
                                    {% render_field creditapp_form.mobile_phone class+="sm-form-control required" %}
                                </div>
                            </div>

                                <div class="form-group">
                                    {{ creditapp_form.address.errors }}
									<label for="{{ creditapp_form.address.id_for_label }}">Address</label>
                                    {% render_field creditapp_form.address class+="sm-form-control required" %}
                                </div>

                            <div class="form-row">
								<div class="form-group col-md-6">
									{{ creditapp_form.city.errors }}
									<label for="{{ creditapp_form.city.id_for_label }}">City</label>
                                    {% render_field creditapp_form.city class+="sm-form-control required" %}
								</div>
								<div class="form-group col-md-4">
									{{ creditapp_form.state.errors }}
									<label for="{{ creditapp_form.state.id_for_label }}">State</label>
                                    {% render_field creditapp_form.state class+="sm-form-control required" %}
								</div>
								<div class="form-group col-md-2">
									{{ creditapp_form.zip.errors }}
									<label for="{{ creditapp_form.zip.id_for_label }}">Zip</label>
                                    {% render_field creditapp_form.zip class+="sm-form-control required" %}
								</div>
							</div>


                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    {{ creditapp_form.occ_type.errors }}
                                    <label for="{{ creditapp_form.occ_type.id_for_label }}">Occupancy</label>
                                    {% render_field creditapp_form.occ_type class+="sm-form-control required" %}
                                </div>
                                <div class="form-group col-md-3">
                                    {{ creditapp_form.other_occ_type.errors }}
									<label for="{{ creditapp_form.other_occ_type.id_for_label }}">Other Occupancy Type</label>
                                    {% render_field creditapp_form.other_occ_type class+="sm-form-control required" %}
                                </div>
                                <div class="form-group col-md-3">
                                    {{ creditapp_form.res_type.errors }}
									<label for="{{ creditapp_form.res_type.id_for_label }}">Residence Type</label>
                                    {% render_field creditapp_form.res_type class+="sm-form-control required" %}
                                </div>
                                <div class="form-group col-md-4">
                                    {{ creditapp_form.rent_payment.errors }}
									<label for="{{ creditapp_form.rent_payment.id_for_label }}">Mortgage/Rent Payment</label>
                                    {% render_field creditapp_form.rent_payment class+="sm-form-control required" %}
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{ creditapp_form.time_at_res.errors }}
									<label for="{{ creditapp_form.time_at_res.id_for_label }}">Time At Residence</label>
                                    {% render_field creditapp_form.time_at_res class+="sm-form-control required" %}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ creditapp_form.acc_in_your_name.errors }}
									<label for="{{ creditapp_form.acc_in_your_name.id_for_label }}">Which Accounts Are In Your Name</label>
                                    {% render_field creditapp_form.acc_in_your_name class+="sm-form-control required" %}
                                </div>
                            </div>

                            {#Driver License#}
                            <div class="form-row">
                                 <div class="form-group col-md-4">
                                    {{ creditapp_form.driver_lic_number.errors }}
									<label for="{{ creditapp_form.driver_lic_number.id_for_label }}">Driver License Number</label>
                                    {% render_field creditapp_form.driver_lic_number class+="sm-form-control required" %}
                                </div>
                                 <div class="form-group col-md-4">
                                    {{ creditapp_form.driver_lic_state.errors }}
									<label for="{{ creditapp_form.driver_lic_state.id_for_label }}">Driver License State</label>
                                    {% render_field creditapp_form.driver_lic_state class+="sm-form-control required" %}
                                </div>
                                 <div class="form-group col-md-4">
                                    {{ creditapp_form.driver_lic_expdate.errors }}
									<label for="{{ creditapp_form.driver_lic_expdate.id_for_label }}">Driver License Expiration Date</label>
                                    {% render_field creditapp_form.driver_lic_expdate class+="sm-form-control required" %}
                                </div>
                            </div>


                            <div class="line"></div>

                            <div class="heading-block">
                                <h4 class="t700">Employment</h4>
                            </div>


                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    {{ creditapp_form.empl_name.errors }}
									<label for="{{ creditapp_form.empl_name.id_for_label }}">Employer Name</label>
                                    {% render_field creditapp_form.empl_name class+="sm-form-control required" %}
								</div>
                                <div class="form-group col-md-4">
									{{ creditapp_form.empl_address.errors }}
									<label for="{{ creditapp_form.empl_address.id_for_label }}">Employer Address</label>
                                    {% render_field creditapp_form.empl_address class+="sm-form-control required" %}
								</div>
                                <div class="form-group col-md-4">
									{{ creditapp_form.empl_phone.errors }}
									<label for="{{ creditapp_form.empl_phone.id_for_label }}">Business Phone</label>
                                    {% render_field creditapp_form.empl_phone class+="sm-form-control required" %}
								</div>
                            </div>

                            <div class="form-row">
								<div class="form-group col-md-6">
									{{ creditapp_form.empl_city.errors }}
									<label for="{{ creditapp_form.empl_city.id_for_label }}">Employer City</label>
                                    {% render_field creditapp_form.empl_city class+="sm-form-control required" %}
								</div>
								<div class="form-group col-md-4">
									{{ creditapp_form.empl_state.errors }}
									<label for="{{ creditapp_form.empl_state.id_for_label }}">Employer State</label>
                                    {% render_field creditapp_form.empl_state class+="sm-form-control required" %}
								</div>
								<div class="form-group col-md-2">
									{{ creditapp_form.empl_zip.errors }}
									<label for="{{ creditapp_form.empl_zip.id_for_label }}">Employer Zip</label>
                                    {% render_field creditapp_form.empl_zip class+="sm-form-control required" %}
								</div>
							</div>

                            <div class="form-row">
                                <div class="form-group col-md-3">
									{{ creditapp_form.empl_occupation.errors }}
									<label for="{{ creditapp_form.empl_occupation.id_for_label }}">Occupation</label>
                                    {% render_field creditapp_form.empl_occupation class+="sm-form-control required" %}
								</div>

                                <div class="form-group col-md-3">
									{{ creditapp_form.empl_time_on_job.errors }}
									<label for="{{ creditapp_form.empl_time_on_job.id_for_label }}">Time On Job</label>
                                    {% render_field creditapp_form.empl_time_on_job class+="sm-form-control required" %}
								</div>


                                <div class="form-group col-md-3">
									{{ creditapp_form.empl_salary.errors }}
									<label for="{{ creditapp_form.empl_salary.id_for_label }}">Salary</label>
                                    {% render_field creditapp_form.empl_salary class+="sm-form-control required" %}
								</div>

                                 <div class="form-group col-md-3">
									{{ creditapp_form.empl_other_income.errors }}
									<label for="{{ creditapp_form.empl_other_income.id_for_label }}">Other Income</label>
                                    {% render_field creditapp_form.empl_other_income class+="sm-form-control required" %}
								</div>

                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="consentCheck">
                                <label form="form-check-label" for="consentCheck">I agree that by submitting this application, I authorize and give this dealership, as well as any potential financing source this dealership presents this application to, my consent to obtain my credit report from any credit reporting agency used to complete an investigation of my credit.</label>
                            </div>

                            <div class="line"></div>

                            <div class="heading-block">
                                <h4 class="t700">Vehicle Information</h4>
                            </div>

                            <div class="form-row">

                                <div class="form-group col-md-3">
									{{ creditapp_form.vehicle_make.errors }}
									<label for="{{ creditapp_form.vehicle_make.id_for_label }}">Vehicle Make</label>
                                    {% render_field creditapp_form.vehicle_make class+="sm-form-control required" %}
								</div>
                                <div class="form-group col-md-3">
									{{ creditapp_form.vehicle_model.errors }}
									<label for="{{ creditapp_form.vehicle_model.id_for_label }}">Vehicle Model</label>
                                    {% render_field creditapp_form.vehicle_model class+="sm-form-control required" %}
								</div>
                                <div class="form-group col-md-3">
									{{ creditapp_form.vehicle_year.errors }}
									<label for="{{ creditapp_form.vehicle_year.id_for_label }}">Vehicle Year</label>
                                    {% render_field creditapp_form.vehicle_year class+="sm-form-control required" %}
								</div>
                                <div class="form-group col-md-3">
									{{ creditapp_form.vehicle_mileage.errors }}
									<label for="{{ creditapp_form.vehicle_mileage.id_for_label }}">Vehicle Mileage</label>
                                    {% render_field creditapp_form.vehicle_mileage class+="sm-form-control required" %}
								</div>
                            </div>
                                <div class="form-group">
                                    {{ creditapp_form.vehicle_salesman_name.errors }}
									<label for="{{ creditapp_form.vehicle_salesman_name.id_for_label }}">Salesman Name</label>
                                    {% render_field creditapp_form.vehicle_salesman_name class+="sm-form-control required" %}
                                </div>

                            <div class="col_full hidden">
                                <input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control" />
                            </div>

                            <input type="hidden" name="prefix" value="creditapplication">


							<button name="submit" type="submit" id="submit-button" tabindex="5" value="Submit" class="button button-3d nomargin">Send my credit application</button>

						</form>

                 </div> <!-- Form widget end -->

            </div>
        </div>

{% endblock %}