<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Simple Transactional Email</title>
    <style>

      @page {
          size: A4;
          margin: 1cm;
      }

      td.zebra {
          background-color: #F5F5F5;
      }
      /* -------------------------------------
          TYPOGRAPHY
      ------------------------------------- */
      h1,
      h2,
      h3,
      h4 {
        color: #000000;
        font-weight: 400;
        text-transform: uppercase;
      }

      h1 {
        font-weight: 600;
        text-align: center;
        text-transform: capitalize;
      }

      p,
      ul,
      ol {
        font-family: sans-serif;
        font-weight: normal;
        margin-left: 5px;
        padding-top: 5px;
      }
        p li,
        ul li,
        ol li {
          list-style-position: inside;
          margin-left: 5px;
      }

    </style>
  </head>
  <body class="body">
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td class="container">
          <div class="content">

            <!-- START CENTERED WHITE CONTAINER -->
            <table role="presentation" class="main">

              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">


                    <tr>

                      <td>

                            <tr>
                                <td colspan="2"><h1>Prestige Auto Consultants LLC. (Loan details)</h1></td>
                            </tr>


                        <table role="presentation" border="1" cellpadding="0" cellspacing="0">
                          <tbody>

                            <tr>
                                <td colspan="2" style="background-color: #72A9F2;"><h2 style="font-weight: 600; padding-top: 8px; margin-left: 5px;">Application Date: {{ current_date }}</h2></td>
                            </tr>

                            <!--SECTION TITLE-->
                            <tr>
                                <td colspan="2"><h4 style="font-weight: 600; text-align: center; padding-top: 8px; background-color: #72A9F2">PERSONAL INFORMATION</h4></td>
                            </tr>
                            <!--END OF SECTION TITLE-->

                            <tr>
                                <td>
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody style="background-color:#d3d3d3;">
                                          <tr>
                                              <td><p>First Name:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td><p>{{ creditapp_form.first_name.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td class="zebra">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Mid Name:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td class="zebra" align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.mid_name.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Last Name:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.last_name.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>


                            <tr>
                                <td class="zebra">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Address:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td class="zebra" align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.address.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>City:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.city.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td class="zebra">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>State:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td class="zebra" align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.state.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Zip:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.zip.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td class="zebra">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Home Phone:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td class="zebra" align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.home_phone.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Mobile Phone:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.mobile_phone.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td class="zebra">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Email:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td class="zebra" align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.email.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Birthday Date:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.birth_date.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td class="zebra">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Social Security Number:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td class="zebra" align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.social_security.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Occupancy Type:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.occ_type.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td class="zebra">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Other Occupancy Type:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td class="zebra" align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.other_occ_type.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Mortgage/Rent Payment:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.rent_payment.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td class="zebra">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Residence Type:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td class="zebra" align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.res_type.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Time At Residence:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.time_at_res.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>



                            <tr>
                                <td class="zebra">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Driver License Number:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td class="zebra" align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.driver_lic_number.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Driver License State:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.driver_lic_state.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td class="zebra">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Driver License Exp. Date:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td class="zebra" align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.driver_lic_expdate.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <!--SECTION TITLE-->
                            <tr>
                                <td colspan="2"><h4 style="font-weight: 600; text-align: center; padding-top: 8px; margin: 0; background-color: #72A9F2">EMPLOYMENT INFORMATION</h4></td>
                            </tr>
                            <!--END OF SECTION TITLE-->

                            <tr>
                                <td>
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Employer Name:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.empl_name.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td class="zebra">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Employer Address:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td class="zebra" align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.empl_address.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Employer City:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.empl_city.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td class="zebra">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Employer State:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td class="zebra" align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.empl_state.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Employer Zip:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.empl_zip.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td class="zebra">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Business Phone:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td class="zebra" align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.empl_phone.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Occupation:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.empl_occupation.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td class="zebra">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Time On Job:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td class="zebra" align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.empl_time_on_job.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Salary:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.empl_salary.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td class="zebra">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Other Income:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td class="zebra" align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.empl_other_income.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Consent:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>Soglasie {{ current_date }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>



                            <!--SECTION TITLE-->
                            <tr>
                                <td colspan="2"><h4 style="font-weight: 600; text-align: center; padding-top: 8px; margin: 0; background-color: #72A9F2">VEHICLE INFORMATION</h4></td>
                            </tr>
                            <!--END OF SECTION TITLE-->

                            <tr>
                                <td>
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Vehicle Make:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.vehicle_make.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td class="zebra">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Vehicle Model:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td class="zebra" align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.vehicle_model.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Vehicle Year:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.vehicle_year.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td class="zebra">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Vehicle Mileage:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td  class="zebra" align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.vehicle_mileage.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Salesman Name:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>{{ creditapp_form.vehicle_salesman_name.value }}</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <!--SECTION TITLE-->
                            <tr>
                                <td colspan="2"><h4 style="font-weight: 600; text-align: center; padding-top: 8px; margin: 0; background-color: #72A9F2">DOWN PAYMENT</h4></td>
                            </tr>
                            <!--END OF SECTION TITLE-->

                            <tr>
                                <td>
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Down Payment Amount:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>sample info</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <!--SECTION TITLE-->
                            <tr>
                                <td colspan="2"><h4 style="font-weight: 600; text-align: center; padding-top: 8px; margin: 0; background-color: #72A9F2">TRADE-IN DETAILS</h4></td>
                            </tr>
                            <!--END OF SECTION TITLE-->

                            <tr>
                                <td>
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Trade-In Make:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>sample info</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td class="zebra">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Trade-In Model:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td  class="zebra" align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>sample info</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Trade-In Year:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>sample info</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td class="zebra">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Trade-In Mileage:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td class="zebra" align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>sample info</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                          <tr>
                                              <td><p>Other Details:</p></td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </td>
                                <td align="center">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td> <p>sample info</p> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </td>
                            </tr>

                          </tbody>



                        </table>


                      </td>


                    </tr>

                  </table>
                </td>

              </tr>


            <!-- END MAIN CONTENT AREA -->
            </table>
            <!-- END CENTERED WHITE CONTAINER -->



          </div>
        </td>
      </tr>
    </table>
  </body>
</html>