{% extends 'base.html' %}

{% block content %}
    <div class="clear"></div>
    <div class="row nopadding align-items-stretch ohidden single-car">
        <div class="col-lg-5 offset-lg-1 col-padding single-car-image">
            <a href="{{ car.photo.url }}" data-lightbox="image"><img src="{{ car.photo.url }}" /></a>
        </div>

        <div class="col-lg-5 offset-lg-1 col-padding">
            <div>
                <div class="single-car-title">
                    <h3>{{ car.brand }} {{ car.model }}</h3>
                </div>

                <div class="feature-box fbox-outline fbox-light fbox-effect fadeIn animated" data-animate="fadeIn">
                    <div class="fbox-icon">
                        <a href=""><i class="icon-car-care"></i></a>
                    </div>
                    <h3>Year:</h3>
                    <p>{{ car.year }}</p>
                </div>

                <div class="feature-box fbox-outline fbox-light fbox-effect fadeIn animated" data-animate="fadeIn">
                    <div class="fbox-icon">
                        <a href=""><i class="si-colored icon-car-meter"></i></a>
                    </div>
                    <h3>Mile:</h3>
                    <p>{{ car.mile }}</p>
                </div>

                <div class="feature-box fbox-outline fbox-light fbox-effect fadeIn animated" data-animate="fadeIn">
                    <div class="fbox-icon">
                        <a href=""><i class="icon-car-fulltime"></i></a>
                    </div>
                    <h3>Lease Term:</h3>
                    <p>{{ car.lease_term }}</p>
                </div>

                <div class="feature-box fbox-outline fbox-light fbox-effect fadeIn animated" data-animate="fadeIn">
                    <div class="fbox-icon">
                        <a href=""><i class="icon-car-money"></i></a>
                    </div>
                    <h3>Price:</h3>
                    <p>{{ car.price }}</p>
                </div>
            </div>
        </div>

    </div>

{% endblock %}