{% extends 'base.html' %}

{% block content %}

    <div class="page-title-center divcenter">
        <h2>Message was successfully sent!</h2>
        <a href="{% url 'mainpage' %}">Return to the homepage</a>
    </div>

{% endblock %}