/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

/*Phone in header*/

.header-phone {
    position: relative;
    float: right;
    font-size: 24px !important;
    line-height: 45px !important;
    margin-right: 20px !important;
}
.header-phone a:hover {
    color: #72A9F2 !important;
}

.header-phone a, a > i {
    vertical-align: middle !important;
}

/*Slider*/

.cars-button:hover {
    background-color: #72A9F2 !important;
}

/*Single Car Page*/

.single-car-title {
    text-transform: uppercase;
}

.single-car-image {
    display: flex;
    align-items: center;
}

.single-car-image a {
    box-shadow: 3px 3px 1px #ccc;
    -webkit-box-shadow: 3px 3px 1px #ccc;
    -moz-box-shadow: 3px 3px 1px #ccc;
}

/*Credit application*/

.credit-app {
    padding: 100px 200px;
}

/*MOBILE*/

/*iPhone X*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px) {
    .credit-app {
        padding: 0;
    }
}


/*iPhone 6,7,8*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
    .credit-app {
        padding: 0;
    }
}

/*iPhone 6+,7+,8+*/
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {
    .credit-app {
        padding: 0;
    }
}